* {
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

#calculator {
  width: 300px;
  background-color: rgba(40, 46, 54);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
}

#displayValue {
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  height: 100px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(30, 35, 42);
  font-weight: normal;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

#buttons button {
  width: 55px;
  margin: 5px;
  height: 55px;
  border-radius: 100px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  font-size: 17px;
  background-color: rgba(40, 46, 54);
  transition: filter 0.2s ease, transform 0.1s ease;
}

#buttons button:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

#buttons button:active {
  transform: scale(0.95);
}

#operators {
  color: rgb(231, 156, 27);
}

button#equal {
  background-color: rgb(231, 156, 27);
}
